.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 1fr 0.5fr ;
    border: 1px solid grey;
    gap: 10px;
    padding: 10px 15px;
    align-items: center;
    font-size: 13px;
}

.list-table .title{
    background-color: #fff0ed;
}

.list-table-format img{
    width: 50px;
}

@media screen and (max-width: 600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table .title{
        display: none;
    }
}

/* .cursor propert are in index file */