.login-popup{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
    color: gray;
}

.login-popup-container{
    place-self: center;
    display: flex;
    flex-direction: column;
    max-width: max(30%, 300px);
    height: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
}

.login-popup-title h2{
    font-size: 25px;
    color: chocolate;
    font-weight: bold;
}
.login-popup-title img{
    width: 14px;
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input{
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #00000090;
}

.login-popup-condition{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: start;   
    gap: 10px;
    margin-bottom: 20px;
}

.login-popup-condition input{
    margin-top: 5px;
}

.login-popup p span{
    color: tomato;
    cursor: pointer;
}
