@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



strong{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
  border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #5d5a5a; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f5c5c; /* Color of the scrollbar thumb on hover */
}


/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .main-container{
    margin-left:3vw;
    margin-right:3vw;
    /* gap: 34px; */
  }

  strong{
    font-size: 4em;
  }

  .screen{
    height: 93vh;
  }

  .showpassword > div{
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .showpassword > div{
    height: 90%;
  }
  .screen{
    height: 91vh;
  }
}

@media screen and (max-width: 380px) {
  .navbar{
    height: 63px;
  }

  .logo>strong{
    font-size: 18px;
  }
  .gap-10{
    gap: 1rem;
  }
  .main-container{
    padding-top: 0vh;
  }
  .input-area{
    padding: 0rem;
  }
}