@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/background.jpg);
    /* background-position-x: 100vw; */
    position: relative;
    background-repeat: no-repeat;
    background-size: max(2500px, 100vw);
    background-position: center center;
    height: 650px;
}

.main .box {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: .55;
}

nav {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 70px;
    position: relative;
    z-index: 10;
}

nav span img {
    width: 130px;
}

#sign-in{
    background-color: red;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 10px;
}
#sign-in:hover{
    background-color: rgb(153, 10, 10);
}
#eng-button{
    border-radius: 5px;
    color: #070606;
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
}

.welcome-text {
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* gap: 3px; */
}

.welcome-text span,
.welcome-text h3 {
    z-index: 10;
    font-family: "Martel Sans", sans-serif;
}

.welcome-text span:nth-child(1) {
    font-size: 50px;
    font-weight: 1000;
}

.welcome-text span:nth-child(2) {
    font-size: 25px;
    font-weight: bolder;
}

.inputBox {
    position: relative;
    top: 45px;
    font-family: "Martel Sans", sans-serif;
    z-index: 10;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
}

.inputBox input {
    width: 300px;
    height: 55px;
    background-color: #000;
    color: #fff;
    opacity: .5;
    font-size: 13px;
    text-align: start;
    border-radius: 10px;
}

.inputBox input::placeholder {
    color: white;
    padding-left: 20px;
}

.inputBox button:hover {
    background-color: rgb(133, 21, 21);
    cursor: pointer;
}

.inputBox button {
    margin-left: 30px;
    border-radius: 5%;
    height: 55px;
    font-size: 20px;
    background-color: red;
    width: 240px;
    color: white;
}

.sepration {
    height: 10px;
    background-color: grey;
}

/* ------------------------------ */

.main2,
.main3,
.main4 {
    display: flex;
}

.main2 .box,
.main3 .box,
.main4 .box {
    width: 40vw;
    height: 50vh;
    padding: 20px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #fff;
}

.box h1 {
    font-weight: 900;
    font-size: 45px;
}

.box p {
    font-weight: bold;
    font-size: 19px;
}

.main2 .box2,
.main4 .box2 {
    height: 50vh;
    width: 50vw;
    background-image: url(images/tv-background.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.main4 .box2 {
    background-image: url(images/mac-image.png);
    background-size: contain;
    background-position-x: 100px;
    background-position-y: 57px;
}

.box2 video {
    position: relative;
    top: -10px;
    left: 195px;
    z-index: -1;
}

.main3 .box3 img {
    position: relative;
    left: 61px;
}
.feq h2{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    font-weight: 900;
    font-family: "Martel Sans", sans-serif;
    color: white;
}

.feqbox{
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.feqbox .box{
    color: #fff;
    height: 55px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(95, 92, 92);
}
.feqbox .box span{
    padding: 10px;
    font-size: 20px;
}
.feqlowerText{
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -10px;
}
.line a{
    color: #fff;
    text-align: center;
}
.line{
    text-align: center;
}

.footer{
    margin-top: 100px;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.line1, footer button{
    grid-column: 1/5;
    text-align: start;
    margin-left: 60px;
}
footer button{width: 5%;}




@media only screen and (max-width: 390px){
    .main{
        width: 10020px;
    }
}