.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

ul li{
    cursor: pointer;
}

.navbar-profile{
    position: relative;
}

.nav-profile-dropdown{
    position: absolute;
    width: 600%;
    display: none;
    right: 0;    
    z-index: 1;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

@media screen and (max-width: 825px) {
    .navbar ul{
        display: none;
    }
    
}